
.DS_Store
admin/.htaccess
settings.config
roll/.htaccess
roll/error_log
spin/.htaccess
admin/error_log

php_errors.log

*.log

test_function.php
settings.config.php

.idea/deployment.xml

.idea/webServers.xml

.idea/codeStyles/codeStyleConfig.xml

.idea/dataSources/
