<?php

// Server Timezone
date_default_timezone_set('America/Chicago');

// Admin Password
define('ADMIN_PASSWORD', '');

//OMDP API Key
define('OMDB_API_KEY', '');

// DB credentials for the main database
define('DB_ADDR', '');
define('DB_USER', '');
define('DB_PASS', '');
define('DB_NAME', '');

// DB credentials for separate page load/visitor tracking DB
define('AT_DB_ENABLED', FALSE);
define('AT_DB_ADDR', '');
define('AT_DB_USER', '');
define('AT_DB_PASS', '');
define('AT_DB_NAME', '');

// Base URL of the webserver
define('WEB_ROOT', '');
