.mns-events {

	.bg-clear td {
		background: transparent !important;
		color:      inherit !important;
	}

	&.mns-view-cards {

		.title-event-number {
			font-size:   1.75rem;
			font-weight: bold;
		}

		.title-event-date {
			font-size:   1rem;
			font-weight: bold;
		}

		.poster {
			object-fit: cover;
			width:      calc(30.6rem / 41 * 27); /* Movie Posters are 27" x 41" */
			height:     30.6rem;
		}

		.movie-list {
			table-layout: fixed;
			width:        100%;

			.list-number {
				text-align:    center;
				width:         2.5rem;
				padding-left:  0;
				padding-right: 0;
			}

			.list-viewer {
				width:      30%;
				text-align: center;
			}

			.list-title {
				white-space:   nowrap;
				overflow:      hidden;
				text-overflow: ellipsis;
			}

			.list-winner {
				font-weight: bold;
			}

		}
	}

	&.mns-view-poster {
		.event-number {
			font-weight: bold;
			font-size: 1.5rem;
		}

		.event-date {
			font-weight: bold;
			font-size: 1rem;
		}

		.event-info {
			font-weight: bold;
			text-align: right;
			font-size: 1.25rem;
		}

		.poster {
			width: 100%;
		}
	}

	&.mns-view-poster-win {
		.card-header {
			font-weight: bold;
			text-align: center;
		}

		.event-number {
			font-size:   1.75rem;
		}

		.event-date {
			font-size:   1rem;
		}
	}
}
