.table {
	margin-bottom: 0;

	& > :not(caption) > * > * {
		//--bs-table-bg: transparent;
		//color: inherit;
	}

	& > :not(caption) > tr:last-child > td {
		border-bottom: none;
	}

	tr.bg-success-subtle td {
		background: transparent;
	}
}
